<div class="card-deck">
  <div class="card main-card">
    <div class="card-header">
      Parser
    </div>
    <div class="card-body">
      <div class="main-card-body">
        <form>
          <div class="form-group">
            <label for="fullName">Enter your full name:</label>
            <input type="text" class="form-control" id="fullName" placeholder="full name">
          </div>
          <button type="submit" class="btn btn-primary btn-lg btn-block">Submit</button>
        </form>
      </div>
    </div>
  </div>

  <div class="card" *ngIf="false">
    <div class="card-header">
      Parsered Name
    </div>
    <div class="card-body">

      <div class="info">
        <dl class="row">
          <dt class="col-sm-5">Prefix</dt>
          <dd class="col-sm-6">Mr</dd>
        </dl>

        <dl class="row">
          <dt class="col-sm-5">First name</dt>
          <dd class="col-sm-6">Jane</dd>
        </dl>

        <dl class="row">
          <dt class="col-sm-5">Middle name</dt>
          <dd class="col-sm-6">Ann</dd>
        </dl>

        <dl class="row">
          <dt class="col-sm-5">Last name</dt>
          <dd class="col-sm-6">Doe</dd>
        </dl>

        <dl class="row">
          <dt class="col-sm-5">Sufix</dt>
          <dd class="col-sm-6">PhD</dd>
        </dl>
      </div>


      <button type="button" class="btn btn-outline-dark btn-lg btn-block">Delete</button>
    </div>


  </div>

</div>